body{
    background-color: rgb(8, 243, 243);
    color: rgb(20, 5, 150);
}
header{
    background-color: white;
    height: 35px;
    margin-left: -20px;
    margin-right: -20px;
}

header h3{
    padding-left: 15px;
    color: grey;
    text-align: center;
    font-size: 30px;
}
